

<!------------------- Head ----------------------------->

<head th:fragment="head(title)">
	<meta charset="ISO-8859-1">
	<title th:text="${title}"></title>
	<link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>

<!------------------- Header Nav ----------------------------->

<header class="container-fluid bg-dark" th:fragment="header(author)">
	<div class="row align-items-center justify-content-between py-3 px-1 text-light ">
		
		<h1 class="col">Best of 
			<span class="text-dark mark fw-bold">[[${author}]]</span>
		</h1>
		
		<nav class="col-8">
			<ul class=" d-flex align-items-center justify-content-between p-2 list-unstyled">
				<li>
					<a class="col-4 h5 text-decoration-none text-light" 
					   th:href="@{/}">Home</a>
				</li>	
				<li>
					<a class="col-2 h5 text-decoration-none text-light" 
					   th:href="@{/movies}">Movies</a>
				</li>
				<li>
					<a class="col-2 h5 text-decoration-none text-light"
					   th:href="@{/songs}"> Songs</a>
				</li>
			</ul>
		</nav>
	
	</div>
</header>

<!------------------- Lista ----------------------------->

<ul th:fragment="ulList(list, route)"
	class="list-group list-unstyled p-3 my-1">
	
	<li th:each="obj : ${list}"
		th:object="${obj}"
		class="list-group-item">
		
		<a th:text="'Nome: ' + *{name} +  ' || Id: ' + *{id}" 
	 	    th:href="@{'/' + ${route} + '/' + *{id}}"></a>
	</li>
</ul>
